/* ----------- common  START ----------- */
body{
    width: 1100px;
    margin: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:rgb(88, 71, 50);
}
/* .flexUl{
    display: flex;
    text-align: center;
}
.flexUl li{
    width: 80px;
    list-style: none;
    margin: auto;
} */
/* .acd{
    display: none;
} */
a{
    text-decoration: none;
    color: white;
}
li:hover{
    font-weight: 600;
}
.commonMenu{
    display: flex;
}
.commonMenu p{
    padding-left:35px;
    font-weight: bold;
    font-size: 20px;
}
.topMenu{
    display: flex;
    margin-left:auto;
    padding:0 30px 10px 30px;
    text-align: center;
}    
.topMenu li{
    margin:auto;
    list-style: none;
    width: 80px;
}
/* .acd-menu, .acd-label, .acd-content{
    display: none;
} */
.bottomSpace{
    margin-bottom: 110px;
}
.right-space{
    padding-right:6px;
}
/* -----------  common END  ----------- */

/* -----------  header  START  ----------- */
header a{
    color:rgb(88, 71, 50);
}

/* -----------  header  END  ----------- */
/* -----------  div-top  START  ----------- */
h1 {
    font-family: 'Bold 700 Italic';
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 50px;
    color: rgb(105, 133, 95);
}
.topButton{
    display: flex;
    position: relative;
    top: 322px;
    left:610px !important;
}
.topButton li{
    list-style: none;
    margin-right: 10px;
    text-align: center;
}
.topButton a{
    display:block;
    padding-top:13px;
}
.topImg{
    background-image: url(image/ordinary_products2.jpg);
    height:455px;
    background-size: cover;
    background-position: center;
    margin-top:-28px;
}
.topButton li{
    border:solid 1px rgb(105, 133, 95);
    background :rgb(105, 133, 95);
    color:white;
    border-radius: 30px;
    width: 195px;
    height: 50px;   
}
.topButton li:hover{
    border:solid 1px rgb(168, 164, 135);
    background :rgb(168, 164, 135);
}
/*  ----------- div-top END  ----------- */
/* -----------  div-body  START  ----------- */
.bodyTop{
    display: flex;
    width: 70%;
    margin:auto;
}
.bodyTopText{
    margin: auto;
}
.bodyTopText p{
    text-align: left;
}
.bodyImg{
    width: 250px;
    padding-right:30px;
    height: auto;
}
.middleImg{
    background-image: url(image/naturalleaf2.jpg);
    height:300px;
    background-size: cover;
    background-position: center;
    margin-top:30px;
}
.middleText{
    width: 400px;
    padding-left: 25%;
}
.snsImg{
    display: flex;
    margin: auto;
    padding:0;
    width: 600px;
    margin-bottom: 40px !important;
}
.snsImg li{
    list-style: none;
    padding:0px 20px;
}
.snsImg img{
    width: 165px;
}
.bottomButton{
    display: flex;
    width: 500px;
    margin: auto;
}
.bottomButton li{
    border:solid 1px rgb(105, 133, 95);
    background: rgb(105, 133, 95);
    color:white;
    border-radius: 30px;
    width: 230px;
    height: 50px;
    list-style: none;
    margin-right: 10px;
    text-align: center;
}
.bottomButton li:hover{
    border:solid 1px rgb(168, 164, 135);
    background :rgb(168, 164, 135);
}
.bottomButton2{
    display: flex;
    margin: auto;
    width: 230px;
}
.bottomButton2 li{
    border: solid 1px rgb(86, 82, 64);
    background: rgb(86, 82, 64);
    color:white;
    border-radius: 30px;
    width: 230px;
    height: 50px;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.bottomButton2 li:hover{
    border:solid 1px rgb(168, 164, 135);
    background :rgb(168, 164, 135);
}
.bottomButton a{
    display: block;
    padding-top:13px;
}
.bottomButton2 a{
    display: block;
    padding-top:13px;
}
.snsLink{
    display: block;
    text-align: center;
    margin:auto;
    font-size: 18px;
}
.snsLink i{
    font-size: 24px;
    color:rgb(88, 71, 50);
}
.snsLink i:hover{
    color:rgb(105, 133, 95);
}
.snsLink_responsive{
    display: none;
}
/*  ----------- div-body END  ----------- */
/*  ----------- footer  START  ----------- */
.bottomMenu{
    display: flex;
    margin-left:auto;
    padding:0 30px;
    text-align: center;
}    
.bottomMenu li{
    margin: auto;
    list-style: none; 
    width: 80px;
}
.footerBar{
    background-color: rgb(168, 164, 135);
    height: 80px;
}
small{
    margin-left: auto;
    padding-right:30px;    
    display: block;
    padding-top: 30px;
}
.commonColor{
    color:rgb(88, 71, 50);
}
.footerMenu{
    display: flex;
    margin: 0px;
    padding:0 30px;
    text-align: center;
}
.footerMenu li{
    margin: auto;
    list-style: none; 
    width: 80px;
}
/* -----------  footer END  ----------- */

@media screen and (max-width:480px) {
        /*　画面サイズが480pxからはここを読み込む　*/
    body{
        width: 100% !important; 
        min-width: 320px;
    }
    .bottomSpace{
        margin-bottom: 0px !important;
    }
    .top{
        margin-bottom: 165px;
    }
    /* .topMenu{
        display: none;
    } */
    .commonMenu{
        display: block !important;
    }
    /* .acd{
        display: block;
    }
    .acd-menu{
        display: none;
    }
    .acd-label{
        background-color: rgb(88, 71, 50);
        color: white;
        display: block !important;
        width: 95px;
        height: 65px;
        text-align: center;
        margin: 0px;
    }
    .acd-content{
        /* border:solid 1px rgb(88, 71, 50); 
        height: 0;
        opacity: 0;
        padding:0 10px;
        transition: .5s;
        visibility:hidden;
    }
    .acd-content p{
        background-color:rgba(255,255,255,0.8);
        height: 30px;
        width: 95px;
        padding:0px !important;
        margin:0px;
        text-align: center;
    }
    .acd-menu:checked + .acd-label + .acd-content{
        height: 0px;
        opacity: 1;
        padding: 0px;
        visibility: visible;
    } */

    .topImg{
        width: 100% !important;
    }
    .topButton{
        display: block;
        left:15% !important;
        top:370px !important;
    }
    .topButton li{
        margin-bottom: 10px;
    }
    .bodyTop{
        display: block !important;
        text-align:center;
        margin-bottom: 30px !important;
    }
    .bodyImg{
        height: 100% !important;
        padding: 0px!important;
        margin-bottom: 30px !important;
    }
    .middleImg{
        width: 100%;
    }
    .middleText{
        padding-left: 0px !important;
        width: 70% !important;
        margin:auto;
        margin-bottom: 40px !important;
    }
    .snsImg{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 40px !important;
    }
    .snsImg li{
        padding-bottom: 20px;
    }
    .bottomButton, .bottomButton2{
        width: 100% !important;
        display: block;
        padding:0px;
    }
    .bottomButton li,.bottomButton2 li{
        margin: auto;
        margin-bottom: 10px;
    }
    .footerBar{
        height: max-content;
    }
    .footerMenu{
        padding:15px 30px !important;
    }
    
    .snsLink{
        display: none !important;
    }
    .snsLink_responsive{
        display: block;
        text-align: center;
        margin:auto;
        margin-bottom: 45px;
    }
    .snsLink_responsive i{
        font-size: 40px;
        color:rgb(88, 71, 50);
    }
    small{
    padding: 0px;
    text-align: center;
    padding-bottom: 10px;
    }
}